.footer {
    background-color: rgba(0, 0, 0, 1);
    padding: 30px 0 15px;
}


.footer__wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    line-height: 23px;
    margin-bottom: 18px;
    
}

.footer__list {
    display: flex;
    flex-wrap: wrap; 
   
}

.footer__link {
    font-size: 23px;
    margin-right: 20px;
    color: rgba(134, 135, 139, .5);
    
}

       
#wifi:hover {
    display: block;
    color: #79beec;
    transform: scale(2);
    transition-duration: 0.2s;
    
    
}

#share:hover {
    display: block;
    color: #2b862b;
    transform: scale(2);
    transition-duration: 0.2s;
    
   }

#instagram:hover {
    display: block;
    color: #d60c0c;
    transform: scale(2);
    transition-duration: 0.2s;
   }
   
#poo:hover {
    display: block;
    color: #5e2609;
    transform: scale(2);
    transition-duration: 0.2s;
   }

#google:hover {
    display: block;
    color: #e42ecb;
    transform: scale(2);
    transition-duration: 0.2s;
   }

#twitter:hover {
    display: block;
    color: #63e7f8;
    transform: scale(2);
    transition-duration: 0.2s;
   }

#fasebook:hover {
    display: block;
    color: #0d0fa5;
    transform: scale(2);
    transition-duration: 0.2s;
   }

.footer__axure {
    width: 130px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16.34px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    
}