.header {
    background-color: rgba(0, 0, 0, 1);
    padding: 20px 0 19px;
    position:sticky;
    top: 0;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.header__logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 15px;
    
}
.header__logo::after {
    content: 'it';
    display: inline;
    font-family: 'Raleway', sans-serif;
    color: #EC7979;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 15px;
}

.nav__link {
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 600;
    margin-left: 48px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    border-left: 2px solid rgba(0, 0, 0, 1);
    transition-duration: 0.3s; 
    
}
.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    display: block;
    color: #EC7979;
    border-bottom: 2px solid #EC7979;
    border-left: 2px solid #EC7979;
    transform: scale(1.2) rotate(-10deg) ;
    
   }
