.pricing {
    background-color: #E5E5E5;
    padding: 80px 0;
}

.container__pricing {
    max-width: 1170px;
    margin: auto;
}

.pricing__subtitle {
    text-align: center;
    margin: 0 0 25px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
}

.pricing__underline {
    width: 64px;
    height: 2px;
    margin: 0 auto;
    background-color: #D98943;
    margin-bottom: 30px;
}

.pricing__wrapper {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -15px 0;
   
}

.pricing__column {
    width: 340px;
    margin: 0 15px;
    transition: 0.2s;
}

.pricing__column:hover {
    transform: translateY(-17px);

}

.li {
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
     
}

.item-list {
    line-height: 40px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    transition: 0.2s;
    
}

.item-list:hover {
    background-color: #6de4e4;
    color: #FFFFFF;
    cursor: pointer;
    transform: scale(1.02);
    border-radius: 4px;
    box-shadow: inset 0 0 10px #6aa8d1
    
}

.bop {
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: #333333;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    transition: 0.2s;
    
}
.bop:hover {
    background-color: #D98943;
    cursor: pointer;
    transform: scale(1.02);
    border-radius: 6px;
    box-shadow: inset 0 0 10px #f57070
}

.dollars {
    line-height: 100px;
    background-color: #333333;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    transition: 0.2s;
}
.dollars:hover {
    background-color: #D98943;
    cursor: pointer;
    transform: scale(1.02);
    border-radius: 6px;
    box-shadow: inset 0 0 10px #f57070
}

.ffl {
    line-height: 50px;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
    
}
.ffl:hover {
    background-color: #D98943;
    cursor: pointer;
    transform: scale(1.02);
    border-radius: 6px;
    box-shadow: inset 0 0 10px #f57070
}

@media (max-width: 1110px) {
    .pricing__column{
        margin-bottom: 25px;
    }
}